<h2>Perfil</h2>
<div class="d-flex align-items-center justify-content-center card py-3">
    <span class="card-title fs-5">{{user.email}}</span>
</div>
<div class="my-3">
    <p ><a href="/logout" class="btn btn-danger">Salir</a></p>
</div>