<h1 class="text-center">MOSTRANDO ARTICULO:</h1>
<div class="d-flex align-items-center justify-content-center">
   <ul class="list-group">
       <li class="list-group-item text-center"><h2>{{articulo.titulo}}</h2></li>
       <li class="list-group-item text-center"><p> {{articulo.cuerpo}} </p></li>
   </ul> 
    
    
</div>

<div><a href="/" class="btn btn-primary my-3">INICIO</a></div>